@require '../../styles/mixins'

.b-radio {
  box-sizing: border-box;
  display: inline-flex;
  align-items: flex-start;
  height: 35px;
  margin-right: 18px;
  padding-top: 5px;

  &__input {
    _visually-hidden()
  }

  &__label {
    position: relative;
    padding-left: 32px;
    line-height: 25px;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
  }

  &__label::before {
    position: absolute;
    left: 0;
    top: -1px;
    display: inline-block;
    content: '';
    width: 26px;
    height: 26px;
    background: url(../../images/radio.png);
    background-repeat: no-repeat;
  }

  &__input:checked + &__label::before {
    background-image: url(../../images/radio-checked.png);
  }

  &__input:focus + &__label {
    _focused()
  }
}
