@require '../../styles/mixins'

.b-textarea {
  resize: none;
  width: 100%;
  padding: 0;
  background: url(../../images/textarea-background.png);
  line-height: 60px;
  font-family: 'Courier New', monospace;
  font-size: 30px;
  border: 0;

  &:focus {
    outline: 0;
    opacity: 0.62;
  }
}