@require '../../styles/mixins'

.b-field {
  display: flex;
  align-items: flex-end;
  height: 60px;
}
.b-field__label {
  font-size: 22px;
  font-weight: bold;
  padding-right: 20px;
  color: #2f1b15;
  white-space: nowrap;
}
.b-field__input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  line-height: 42px;
  padding-left: 12px;
  font-family: 'Courier New', serif;
  font-size: 30px;
  background: transparent;
  border: 0;
  background: url(../../images/border1.png);
  background-position: right bottom;
  background-repeat: no-repeat;
}
.b-field__input:focus {
  _focused()
}

