@require '../../styles/mixins'

.b-header {
  container()
  position: relative;

  &__logo {}

  &__stamp {
    position: absolute;
    top: -14px;
    right: -64px;
    @media screen and (max-width: 940px) {
      top: -34px;
      right: 0px;
    }
  }

  &__title {
    margin: 36px 0;
    padding-right: 36px;
  }

  &__title-image {
    display: block;
    margin: 0 auto 0;
  }
}