.b-section {
  margin: 0;

  &__title {
    margin: 0;
    margin-bottom: -4px;
    font-size: 24px;
    line-height: 50px;
    color: #2f1b15;
    font-weight: bold;
  }

  &__text {
    margin: 0;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.065px;
  }

}